@model project_RoleTopMVC.ViewModels.HistoricoAgendamentoViewModel
@{
ViewData["Title"] = "Agendamentos - RoleTop";
ViewData["H2"] = "Historico de Agendamentos";
}

<main>
<h2>
     @ViewData["H2"]
</h2>
<table>
     <thead>
          <tr>
               <th>Tema do Evento</th>
               <th>Data e Hora</th>
               <th>Restrição</th>
               <th>Serviços</th>
               <th>Número de Pessoas</th>
               <th>Descrição</th>
               <th>Status do Evento</th>
          </tr>
     </thead>
     <tbody>
          @foreach( var evento in Model.Eventos ) {
               <tr>
               <td>@evento.Evento.Tema</td>
               <td>@evento.Evento.DataDoAgendamento</td>
               <td>@evento.Evento.TipoDoEvento</td>
               <td>@evento.Evento.Servicos</td>
               <td>@evento.Evento.NumeroDePessoas</td>
               <td>@evento.Evento.Descricao</td>
               @if (@evento.Evento.Status == 0)
               {
                    <td>Seu pedido está em análise.</td>
               } else if (@evento.Evento.Status == 1)
               {
                    <td>Seu evento foi aprovado.</td>
               } else if(@evento.Evento.Status == 2)
               {
                    <td>Seu evento foi reporvado.</td>
               }
               </tr>
          }
     </tbody>
</table>

</main>